  .logo {
    color: var(--cus-logo-color);
  }
  .menu {
    .el-scrollbar__wrap {
      padding-bottom: 60px;
      box-sizing: border-box;
      // background-color: var(--cus-menu-bg);
      // background: linear-gradient(180deg, #1848cb 0%, #725eff 100%);
    }
  }
  .menu_vertical {
    &:not(.el-menu--collapse) {
      width: 200px;
    }
    flex-shrink: 0;
    // height: calc(100vh - 65px);
  }

  .el-dialog {
    margin-top: 10vh;
  }

  .el-menu-item{
    font-size: 14px;
    // color: var(--cus-menu-color);
    color: #fff;
  }

  .el-menu {
    border: none;
    // background-color: var(--cus-menu-bg);
    background: none;
    // .el-menu-item.is-active {
    //   // color: var(--cus-menu-active-icon);
    //   background: rgba(255, 255, 255, 0.2);
    //   color: #fff;
    // }
    .el-menu-item{
      height: 50px;
      padding-left: 35px !important;
    }
    .el-sub-menu__title {
        padding-left: 35px !important;
        color: #fff;
        span{
            font-size: 14px;
        }
        .menu-title{
          font-size: 14px;
          font-weight: 500;
        }
    }
    .el-sub-menu{
      .el-menu-item{
        padding-left: 35px !important;
      }
     .el-sub-menu__icon-arrow{
      color: #fff;
     }
    }
    .el-menu-item.is-active {
      // background: var(--cus-menu-active-bg);
      &::after {
        content: '';
        position: absolute;
        width: var(--cus-menu-active-barWidth);
        background: var(--cus-menu-active-bar);
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
    // .el-menu-item:hover {
    //   background: rgba(255, 255, 255, 0.2);
    //   color: var(--cus-menu-hover-color);
    // }
  }

  .el-scrollbar {
    width: 100%;
  }
  .add_dialog {
    .el-dialog__body {
      padding: 30px 0;
    }
  }

.el-sub-menu .el-sub-menu__title span {
  font-size: 16px;
}

.el-form .el-form-item__label {
  width: 100px;
  text-align: right;
  display: inline-block;
  padding-right: 20px;
}

.el-form--inline .el-form-item{
  margin-right: 0px !important;
}

.el-form-item--default{
  margin-bottom: 15px !important;
}

label.el-form-item__label {
  width: 90px;
  text-align: right;
  display: inline-block;
  padding-right: 16px;
}

.el-table {
  --el-table-header-bg-color: #F8F8F9;

  .el-table__cell {
    padding: 15px 0;

    .cell {
      line-height: 18px;
      .el-button--text {
        padding: 0;
        height: 1em;
      }
    }
  }
}

.el-table__empty-text {
  line-height: 24px;
}

.el-col {
  .el-select {
    width: 100%;
  }
}

.primary_btn {
  color: var(--el-color-primary);
  &.el-button--text {
    &:hover {
      color: var(--el-color-primary-light-3);
    }
  }
}

.warning_btn {
  color: var(--el-color-warning);
  &.el-button--text {
    &:hover {
      color: var(--el-color-warning-light-3);
    }
  }
}

.danger_btn {
  color: var(--el-color-danger);
  &.el-button--text {
    &:hover {
      color: var(--el-color-danger-light-3);
    }
  }
}

.el-menu--vertical {
  .el-menu-item:hover {
    background: #409eff;
    color: #fff;
  }
}

.el-button.is-text {
  padding: 8px 6px;
}

.el-table .el-table__cell .cell{
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-table__expand-icon>.el-icon{
  font-size: 18px;
}

.avatar-uploader .el-upload {
  border: 1px dashed var(--el-border-color);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
  border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 148px;
  height: 148px;
  text-align: center;
}